# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
a.out
a

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.dylib


# Build directories
build/
bin/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Editors
.vscode/
.idea/
